@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in-both;
}
